@media (min-width: 230px) and (max-width:1000px){
   body{
    align-items: center;
    font-size: 12px;
   }
    .header .logo
    {
        margin-top: 32px;
        margin-bottom: 32px;
    }
.filtresliste{
    flex-direction: column;
}
.filtres1{
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
}
.filtres{
    display: flex;
}
.apartements-liste{
    display: flex;
    flex-direction: column;
}
.populaires
{
    order: -1;
    flex-direction: row;
    margin: 0 0 16px 0;
} 
.popular-appartements-card img{
    border-radius: 16px 16px 0 0;

}
.popular-appartements-card{
    flex-direction: column;
}

.populaires-description{
    margin-left: 16px;
}
.populaires-description .stars{
    margin:0 0 16px 0;
}
.city-apartements-liste{
flex-direction: column;
}
.searchbar input{
   max-width: 47%;
}
.activite-list{
    display: flex;
    flex-direction: column;
    
}

}
