
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700;800;900&display=swap');
/*wildcard*/
*{
    box-sizing: border-box;
    font-family: "Raleway", "sans-serif";
}
body
{
    background-color: white;
    margin-left: 30px;
    width: 2000px;
    height: 1620.280px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

 /*******************
*** Styles header **
********************/
nav{
    
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;  
}
nav a{
    padding: 2rem;
    text-decoration: none;
    font-size: 30px;
    margin-right: 50px;
}
nav a:hover
{
    border-top: 3px solid #0065fc;
    color: #0065fc;
}
.logo{
    
    margin-right: auto;
    padding: 0px 2rem 0px 2rem;
}

 /*******************
*** Search bar **
********************/
.Wrapper {
    padding: 0 2rem;
}
.searchcontainer
{
    margin-left: 0px;
    padding: 30px;
    width: 100%;
    max-width: 1000px;
    
}
.searchbar
{
    margin: auto;
    width: 100%;
    max-width: 1000px;
}

.searchbar
{
    display: flex;   
}
.searchbar i{
    padding: 1rem 2rem;
    background-color: lightgrey;
    border-radius: 1rem 0 0 1rem;
}
.searchbar input{
    padding-right: 3rem;
}
.searchbar button{
    background-color:#0065fc;
    border-radius: 0rem 1rem 1rem 0;
    border: none;
    color: white;
    font-weight: bold;
    padding: 0 1.5rem;
   transition: transform 200ms;  
}
.searchbar button:hover{
    opacity: 0.8;
    transform: scale(1.03);
}

  /*******************
***  Filtres **
********************/

.fa-solid.fa-money-bill-wave{
color: blue;
background-color: #DEEBFF;
padding: 1rem;
border-radius: 50%;
margin: -3px;
}

.fa-solid.fa-child-reaching{
color: blue;
background-color: #DEEBFF;
padding: 1rem;
border-radius: 50%;
margin: -3px;
}

.fa-solid.fa-heart{
    color: blue;
    background-color: #DEEBFF;
    padding: 1rem;
    border-radius: 50%;
    margin: -3px;
}

.fa-solid.fa-dog{ 
    color:blue;
    background-color: #DEEBFF;
    padding: 1rem;
    border-radius: 50%;
    margin: -3px;
}

.filtres span {
    font-weight: bold;
    padding: 1rem;
}

.filtresliste{
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.filtres{
    border: 2px solid lightgrey;
    border-radius: 2rem; 
    transition: all 200ms ease-in-out;
}
.filtres:hover{
    background-color: #F3F8FF;
    transform: scale(1.02);
}
.filtres1
{
    display: flex;
    gap: 3rem;
    align-items: center;
}
.logements{
    display: flex;
    align-items: center;
    padding: 30px;
}

/*******************
*** HEBERGEMENTS **
********************/
 
.apartements-liste
{
    display: flex;
    gap: 3rem;
    border: 10px solid greenyellow;
    width: fit-content;
}
.apartements-liste > div{
border: 1px solid red;
padding: 1rem;
border-radius: 1rem;

}

.city
{   
    flex-basis: 66%;
}
.city a{
    font-weight: bold;
    font-size: larger;
    text-decoration: none;
}
.city-apartements-liste{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
    margin-bottom: 1rem;
}
.city-apartements-liste div{
    flex-basis: 30%;
 
}
.city-apartements-liste .lightstar{
    color:lightgrey;
}
.stars{
    color: #0065fc;
}
.appartements-card{
    background-color: white;
    border: 3px solid purple;
    border-radius: 1rem;
    padding: 0.5rem;
    box-shadow: 0 0 10px;
    flex-grow: 1;
   
}

.appartements-card img{
    border-radius: 1rem 1rem 0 0;
    height: 10rem;
    width: 100%;
    object-fit: cover;
    object-position: top;
}
.appartements-card p{
    margin: 0.2rem;
}
/**POPULAIRES **/

   .apartements-liste .populaires-flex
    {display: flex;
   flex: 33%;
   flex-direction: column;
   gap: 1rem;
   flex-wrap: wrap;
   background-color: #f2f2f2;

    }
    .populaires-flex div{
        border: 1px solid green;
        width: fit-content;
    }
    .popular-appartements-card
    { display: flex;
        border-radius: 2rem;
        background-color: white;
        box-shadow:0 0 0 rem ;

    }
    .popular-appartements-card img{
        height: 10rem;
    }
      
    .populaires-description{
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
    }
    .populaires-description h3{
        margin: 0 auto;
    }
    .populaires-description .stars
    {
        margin-top: 4rem;
        margin-bottom: 0;
    }
  
       
    
@media (max-width:800px){
    .apartements-liste{
        flex-direction: column;
    }
    .populaires
    {
        order: -1;
    }
    }
    @media (max-width:800px){
        .apartements-liste .populaires{
            flex-direction: row  ;
        }
    }
    
  /*******************
*** ACTIVITES 
********************/














  /*******************
*** Styles Footer **
********************/
  
footer {
    background-color: #f2f2f2;
    border: solid;
    border-color: chartreuse;
    margin-top: 30px;
    margin-left: 50px;  
    align-items: center;
    
  }
  
  footer .container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 30px;
    overflow: auto;
  }
  
  footer .footer-item {
    flex: 1 1 auto;
    margin-left: 100px;
  }
  
  footer h3 {
    font-weight: 800;
  }
  
  footer .container ul {
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
  }
  
  footer .container ul li {
    margin-bottom: 10px;
    list-style: none;
    text-decoration: none;
  }
  
  footer .container ul li a {
    font-weight: 500;
    font-size: 90%;
    text-align: left;
    text-decoration: none;
    color: black;
}