body
{
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 0px;
}

 /*******************
*** Styles header **
********************/

header
{
    width:80%;
    margin: auto;
   
}

header::after
{
    content: '';
    display: table;
    clear: both;
}
.logo
{
    float:left;
    padding: 10px;
    margin-bottom: 30px;
    margin-left: 0;
}
nav
{
    float:right
}

nav ul 
{
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li{
    display: inline-block;
    margin-left: 70px;
    margin-right: 35px;
    padding-top: 25px;
    position:relative;
       
}

nav ul li > a {
    color: darkgrey;
    text-decoration:none;
    text-transform:lowercase;
    font-size: larger;
       
}

    
nav a:hover
{
    color: blue;
  
}

nav a::before
{
    content:'' ;
    display:block;
    height: 5px;
    width: 0px;
    background-color: #444;
    top:0;
    position: absolute;

}

nav a:hover::before{
    width: 100%;

}
#topcontent
{
    margin-left: 200px;
    margin-bottom: 30px;

}
.searchbar
{
     background: white;
    display: flex;
    
}
form
{
    background: white;
    display: flex;
    outline: black;
    }

 form input{
    flex: 1;
    border: black;
    outline: black;
    }
    form button{
        background: darkblue;
        padding: 10px 50px;
        border: none;
        outline: none;
        color: #fff;
        letter-spacing: 1px;
        cursor: pointer;
        border-radius: 10px;
    }
   form .fa-location-dot{
    align-self: center;
    padding: 10px 20px;
    color: black;
    

    }
    h4{
        color: grey;
    }

    /*******************
*** Styles main hebergements **
********************/
#maincontent
{
    display: flex;
    background-color: beige;
    margin-top: 20px;
}

.containerleft
{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: auto;
    background: grey;
    margin-top: 10px;
    border-radius: 30px;
    margin-left: 50px;
     
}

.containerleft img
{
    border-radius: 20px;
    justify-content: space-around;
    justify-content: space-between;
     
}
 
.rangee1
{
    display: inline-flex;
    
}

.rangee2
{
    display: inline-flex;
    
}


.containerright
{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: aqua;
    margin-top: 50px;
    border-radius: 30px;
    margin-left: 200px;
}
.containerright img
{
    border-radius: 30px;
    justify-content: space-around;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    

}
.rangee3
{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 30px;
}

/*******************
*** Styles activites **
********************/

#activities {
    padding-top: 30px;
    margin-bottom: 60px;
  }
  
  #activities-list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 30px;
    height: 400px;
  }
  
  #activities-list .card {
    width: 22.5%;
    flex: 0 0 22.5%;
  }
  
  #activities-list .card-title {
    padding: 5px 0px;
  }
  
  #activities-list .card img {
    width: auto;
    height: 400px;
  }

  /*******************
*** Styles Footer **
********************/
  
footer {
    background-color: #f2f2f2;
  }
  
  footer .container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 30px;
    overflow: auto;
  }
  
  footer .footer-item {
    flex: 1 1 auto;
  }
  
  footer h3 {
    font-weight: 800;
  }
  
  footer .container ul {
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
  }
  
  footer .container ul li {
    margin-bottom: 10px;
    list-style: none;
  }
  
  footer .container ul li a {
    font-weight: 500;
    font-size: 90%;
    text-align: left;
  }