
body
{
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 0px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
}


 /*******************
*** Styles header **
********************/

header
{
    width:80%;
    margin: auto;  
}

header::after
{
    content: '';
    display: table;
    clear: both;
}
.logo
{
    float:left;
    padding: 10px;
    margin-bottom: 10px;
    margin: auto;
}

header nav
{
    float:right;
    margin-left: 1000px;
    margin: auto;
   
}

nav ul 
{
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li{
    display: inline-block;
    margin-left: 70px;
    margin-right: 35px;
    padding-top: 25px;
    position:relative;
       
}

nav ul li > a {
    color: darkgrey;
    text-decoration:none;
    text-transform:lowercase;
    font-size: larger;
       
}

    
nav a:hover
{
    color: blue;
  
}

nav a::before
{
    content:'' ;
    display:block;
    height: 5px;
    width: 0px;
    background-color: #444;
    top:0;
    position: absolute;

}

nav a:hover::before{
    width: 100%;

}
#topcontent
{
    margin-left: 200px;
    margin-bottom: 30px;

}
.searchbar
{
     background: white;
    display: flex;
    
}
form
{
    background: white;
    display: flex;
    outline: black;
    }

 form input{
    flex: 1;
    border: black;
    outline: black;
    }
    form button{
        background: darkblue;
        padding: 10px 50px;
        border: none;
        outline: none;
        color: #fff;
        letter-spacing: 1px;
        cursor: pointer;
        border-radius: 10px;
    }
   form .fa-location-dot{
    align-self: center;
    padding: 10px 20px;
    color: black;
    

    }
    p
    {
        margin: auto;
    }
    h4{
        color: grey;
    }

#searchcontainer
{
    margin: auto;
    padding: 0 30px;
    width: 100%;
    max-width: 1000px;

}
#searchbar
{
    margin: auto;
    padding: 0 30px;
    width: 100%;
    max-width: 1000px

}
.fa-solid .fa-circle-info
{
    margin: auto;
    padding: 0 30px;
    width: 100%;
    max-width: 1000px

}
    
    /*******************
*** Styles main hebergements **
********************/
.hebergements
{
    display: flex;
    display: inline-flex;
    
}
.container
{
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    background: lightgrey;
    border-radius: 20px;
    column-gap: 10px;
    margin: auto;
    margin-left: 200px;
    margin-right: 50px;
    margin-left: 90px;
    margin-top: 30px;
  
}
.container .card
{
    width: 308px;
    position: relative;
    height: auto;
    background: white;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    transition: 0.3s ease-in-out;
    margin-top: 5%;
    border-radius: 20px;
    margin-bottom: 0px;
   
}
.container .card .imgBX
{
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 20px;
    box-shadow: 0 5px 20px black;
    border-radius: 20px;
    }
    .container .card .img
    {
        max-width: 100%;
        border-radius: 20px;

    }
    .imgBx:hover img
    {
        transform:scale(1.1) ;
    }
    .container img
    {
        border-radius: 20px;

    }
    .stars
    {
        display: flex;
    }
    .fadedstar{
        color: lightgrey;
        display: flex;
    }
    .containerright
    {
    
        position: relative;
        width:auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        padding: 30px;
        background: black;
        border-radius: 20px;
        column-gap: 10px;
        margin: auto;
        
      
        
    }
    
    .containerright .card
{
    width: 308px;
    position: relative;
    height: auto;
    background: white;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    transition: 0.3s ease-in-out;
    margin-top: 5%;
    border-radius: 20px;
    margin-bottom: 0px;


       
}
.containerright .card .imgBX
{
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 20px;
    box-shadow: 0 5px 20px black;
    border-radius: 20px;
    }
    .containerright .card .img
    {
        max-width: 100%;
        border-radius: 20px;

    }
 
    .containerright img
    {
        border-radius: 20px;

    }
 /*******************
*** Activites **
********************/
.containerbottom
{
    
    row-gap: 30px;
    column-gap: 30px;
    height: 400px;
    background: blueviolet;
    position: relative;
        width: 1100px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        padding: 30px;
       
        border-radius: 20px;
        column-gap: 10px;
        margin: auto;
        margin-left: 200px;
        margin-right: 50px;
        margin-left: 90px;
        margin-top: 30px;
}
#column1 img
{
    border-radius: 15px;
    width: 400px;
    height: 400px;
    flex: 0 0 22.5%;


   

}















  /*******************
*** Styles Footer **
********************/
  
footer {
    background-color: #f2f2f2;
  }
  
  footer .container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 30px;
    overflow: auto;
  }
  
  footer .footer-item {
    flex: 1 1 auto;
    margin-left: 100px;
  }
  
  footer h3 {
    font-weight: 800;
  }
  
  footer .container ul {
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
  }
  
  footer .container ul li {
    margin-bottom: 10px;
    list-style: none;
    text-decoration: none;
  }
  
  footer .container ul li a {
    font-weight: 500;
    font-size: 90%;
    text-align: left;
    text-decoration: none;
    color: black;
  }